@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;800&display=swap');
@import 'variables', 'mixin';

*,*::before,*::after {
    @include global-reset;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    @include global-size;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: $font-size;
    font-weight: $line-height;
    background: $bg-global;
}

.btn {
    width: 140px;
    padding: 12px;
    font-size: $font-size - 7;
    color: $color-global;
    text-transform: uppercase;
    border: 0;
    border-radius: 12px;

    &.btn-show {
        background: $bg-show;

        &:hover {
            opacity: .9;
        }
    }

    &.btn-next {
        background: $bg-next;

        &:hover {
            opacity: .9;
        }
    }

    &.btn-repeat {
        background: $bg-repeat;

        &:hover {
            opacity: .9;
        }
    }

    &.btn-cancel {
        background: $bg-cancel;

        &:hover {
            opacity: .9;
        }
    }

    &.btn-add {
        background: $bg-add;

        &:hover {
            opacity: .9;
        }
    }
}

.container {
    @include flex(center, center, column);
    @include global-size;
    font-family: 'Fira Sans', sans-serif;

    .box {
        position: relative;
        @include flex(center, center, column);
        width: 450px;
        background: $bg-global;

        &::before {
            content: "";
            position: $absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: $bg-light;
        }

        &::after {
            content: "";
            position: $absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: $bg-light;
        }

        .box-header, .box-footer {
            @include flex(center, center, column);
            width: 100%;
            height: 80px;
            background: $bg-light;
            font-size: $font-size;
            font-weight: 800;
            text-transform: uppercase;
        }

        .box-header {

            span {
                color: $color-last;
            }
        }

        .box-body {
            position: relative;
            width: 100%;
            height: 186px;
            margin: 30px 0;

            #repear-word {

                .repear-description {
                    @include flex(center, center, column);
                    position: $absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50%;
                    height: 186px;
                    background: $bg-global;

                    p {
                        font-size: $font-size;
                        font-weight: 500;
                    }
                }
            }

            #add-form {
                @include flex(center,flex-start, column);
                position: $absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                height: 186px;
                padding: 0 50px;
                background: $bg-global;

                input {
                    width: 100%;
                    padding: 10px;
                    margin: 10px 0;
                    border: 1px solid $color-last;
                }
            }
        }

        #box-words {
            margin-top: 30px;
            overflow: hidden;

            & > div {
                margin-top: 15px;
            }

            & > div:nth-child(1), div:nth-child(2) {
                font-size: $font-size;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            & > div:nth-child(3) {
                font-size: $font-size - 4;
                font-weight: 500;
                color: $color-last;
            }
        }

        .box-footer {
            @include flex(center, center, row);

            #btn-form {
                @include flex(space-around, center, row);
            }
        }
    }

    .add-word {
        @include flex(space-between, center, row);
        width: 320px;
        margin-top: 50px;

        img {
            width: 34px;
            height: 34px;
            transform: scale(1);
            transition: all .2s ease-in-out;

            &:hover {
                transform: scale(1.06);
            }
        }
    }
}
