@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Holtwood+One+SC&display=swap');
@import 'variables', 'mixin';

*,*::before,*::after {
    @include global-reset;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    @include global-size;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: $font-size;
    font-weight: $line-height;
    background: $bg-global;
}

#englishWord {
    display: none;
}

.btn {
    background: $bg-one;
    font-size: $font-size;
    color: $color-global;
    text-transform: uppercase;
    border: 0;
    border-radius: 12px;
}

.container {
    @include grid(grid, 1fr);
    place-items: center;
    @include global-size;

    &.bg {
        background-image: url("../../images/night-1149601_1920.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include global-size;
    }

    .page-title {
        font-family: 'Holtwood One SC', serif;
        color: $color-global;
        text-transform: uppercase;
    }

    .page-subtitle {
        font-family: 'Fira Sans', sans-serif;
        color: $color-child;
        letter-spacing: 2px;
    }

    ul {
        margin: 0 auto;
        list-style-type: none;

        &.box {
            @include grid(grid, 1fr);
            place-items: center;
            position: relative;
            background: #fffffff2;

            &::before {
                content: "";
                position: $absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url("../../images/question.svg");
                background-size: 100%;
                z-index: 1;
            }

            &::after {
                content: "";
                position: $absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background: $bg-one;
            }

            li {
                font-family: 'Fira Sans', sans-serif;
                font-weight: bold;
                letter-spacing: 2px;
                text-transform: none;

                &.navigation {

                    ul {

                        li {
                            height: 50px;

                                .btn-nav {
                                    padding: 14px 30px;
                                    background-repeat: no-repeat;
                                    background-size: 50%;
                                    background-position: center;
                                    height: 100%;

                                    &.nav-prev {
                                        background-image: url("../../images/return.svg");
                                    }

                                    &.btn-show {
                                        width: $width;
                                    }

                                    &.nav-next {
                                        background-image: url("../../images/next.svg");
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
