@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;800&display=swap');
@import 'variables', 'mixin';

*,*::before,*::after {
    @include global-reset;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    @include global-size;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: $font-size;
    font-weight: $line-height;
    background: $bg-global;
}

.btn {
    width: 160px;
    padding: 14px;
    font-size: $font-size - 6;
    color: $color-global;
    text-transform: uppercase;
    border: 0;
    border-radius: 12px;

    &.btn-show {
        background: $bg-show;

        &:hover {
            opacity: .9;
        }
    }

    &.btn-next {
        background: $bg-next;

        &:hover {
            opacity: .9;
        }
    }
}

.container {
    @include flex(center, center, column);
    @include global-size;

    .box {
        position: relative;
        @include flex(center, center, column);
        width: 450px;
        background: $bg-global;
        font-family: 'Fira Sans', sans-serif;

        &::before {
            content: "";
            position: $absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: $bg-light;
        }

        &::after {
            content: "";
            position: $absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: $bg-light;
        }

        .box-header, .box-footer {
            width: 100%;
            padding: 20px;
            background: $bg-light;
            font-size: $font-size;
            font-weight: 800;
            text-transform: uppercase;
            color: $color-last;
        }

        .box-body {
            width: 100%;
            height: 222px;
            margin: 50px 0;
        }

        #box-words {
            margin-top: 50px;
            overflow: hidden;

            & > div {
                margin-top: 15px;
            }

            & > div:nth-child(1), div:nth-child(2) {
                font-size: $font-size;
                font-weight: 800;
                text-transform: uppercase;
            }

            & > div:nth-child(3) {
                font-size: $font-size - 4;
                font-weight: 500;
                color: $color-last;
            }
        }

        .box-footer {
            @include flex(center, center, row);
        }
    }
}
