$width: 100%;
$absolute: absolute;
$font-size: 24px;
$line-height: 2;

$bg-global: #fff;
$bg-light: #eff0ef;
$bg-show: #086cbd;
$bg-next: #3db107;

$color-global: #faf9f9;
$color-child: #f1efef;
$color-last: #c2c1c1;